env/*

# cache
__pycache__/*
tests/__pycache__/*
1_Zeitreihenanalyse/__pycache__/*
2_Zeitreihengenerierung/__pycache__/*
3_Speicherbemessung/__pycache__/*
4_sonstiges/__pycache__/*
utils/__pycache__/*