env/*

# cache
__pycache__/*
tests/__pycache__/*
1_Zeitreihenanalyse/__pycache__/*
O2_Zeitreihengenerierung/__pycache__/*
O3_Speicherbemessung/__pycache__/*
O4_sonstiges/__pycache__/*
utils/__pycache__/*